.l-homepage-analysis {
  padding-top: 90px;
  padding-bottom: 100px;
  border-bottom: 3px solid $color-13;

  @media screen and (width <= 768px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .indicatorgroup {
    margin: 0;
    > .wrapper {
      padding: 5px 0 !important;
    }

    .indicator:first-of-type {
      margin-bottom: 10px;
    }

    .indicator:last-of-type img {
      border: none;
      box-shadow: 0 7px 15px 0 rgba($color-5, .15);
    }
  }

  .wrapper  {
    > .dashboard {
      width: 100%;
      margin-top: 90px;
    }
    > .link.-right { float: right; }

    &.indicator {
      padding: 5px 5px 5px 15px;

      @media screen and (width <= 990px) {
        padding: 15px;
      }

      img {
        width: 100%;
        border: 1px solid $color-13;
      }
    }
  }
}
